@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap');


body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'DynaPuff', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.wrapper {
    margin: 100px 0;
    background-color: green;
    width: 50%;
}

.container {
    background-color: rgba(255, 255, 255, 0.829);
    margin: 10%;
    text-align: center;
    height: 400px;
    padding-top: 50px;
    border-radius: 5px;
    padding: 10px;
}

.container h1 {
    letter-spacing: 4px;
    font-size: 45px;
    color: rgb(3, 78, 3);
}

input {
    width: 300px;
    outline: none;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
}

.wrong {
    color: red;
    font-weight: bold;
    letter-spacing: 1px ;
    word-spacing: 2px;
}

.right {
    color: green;
    font-weight: bold;
    letter-spacing: 1px ;
    word-spacing: 2px;
}

.try {
    color: rgb(13, 2, 86);
    font-weight: bold;
    letter-spacing: 1px ;
    word-spacing: 2px;
}

.btns {
    display: flex;
    justify-content: space-around;
}

button {
    background: green;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    width: 45%;
    cursor: pointer;
}

#result {
    margin-top: 40px;
    margin-bottom: 20px;
}

@media screen and (max-width: 850px){
    .wrapper{
        width: 80%; 
    }

    input {
        width: 80%;
    }

}

@media screen and (max-width: 450px){
    .wrapper{
       width: 90%;
    }

    .container h1 {
        font-size: 40px;
    }

}